html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background: linear-gradient(to right, #88dd9b, #87dcc3);
}

#navbar {
    background: linear-gradient(to right, #88dd9b, #87dcc3);
    width: 100%;
    height: 60px;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 2px 15px -3px #D6D6D6;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#mapdiv {
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    -webkit-border-radius:20px;
    z-index:0;
    box-shadow: 0px 2px 15px -3px #D6D6D6;
}