vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Aug 2017 00:37:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|UOCNT\\sbo49
vti_modifiedby:SR|UOCNT\\sbo49
vti_timecreated:TR|22 Aug 2017 23:20:49 -0000
vti_backlinkinfo:VX|
vti_syncofs_192.168.142.2\:21:TW|23 Aug 2017 00:37:00 -0000
vti_syncwith_192.168.142.2\:21:TX|23 Aug 2017 00:37:35 -0000
vti_nexttolasttimemodified:TW|22 Aug 2017 23:20:49 -0000
vti_cacheddtm:TX|23 Aug 2017 00:37:35 -0000
vti_filesize:IR|552
